<div class="card" *ngIf="filterList ===undefined ||filterList.includes(card.rarity) ||(collection && filterList.includes(card?.card.rarity))  " [ngClass]="{ 'hidden': DisplayMode===true }">  
    <div *ngIf="fastopening && !collection">
        <img (click)="onClick()" [src]="card.images.small"/>
        {{card.rarity}}
    </div>
    <div *ngIf="!fastopening && !collection">
        <img (click)="onClick()" src="/assets/pokemon_recto.png"/>
    </div>
    <div *ngIf="collection">
        <img (click)="onClick()" [src]="card.card.imageUrl.small"/>
        Quantity: {{card.quantity}}
    </div>
</div>


