.cardlist {
    position: relative;
    width: 80%;
    margin: 20px auto;
    padding: 10px 30px;
  }

.booster{
  margin: 1.5625% 1.5625% 3.125% 0;
  box-sizing: border-box;
  width: 95%;
  margin: 20px auto;
  padding: 10px 30px;
  box-shadow: lightgray 4px 4px 20px;
}
  