<div class="formulaire" [formGroup]="CollectionForm">
    <mat-toolbar>   
        <mat-toolbar-row>
            <mat-form-field appearance="outline" style="width: 100%;" >
                <mat-label>Choix serie</mat-label>
                    <mat-select formControlName="setid">
                        <mat-option (click)="onDisplaySet()" value="all">All</mat-option>
                        <mat-option (click)="onDisplaySet()" *ngFor='let booster of Sets$ | async' [value]=booster.id>{{booster.name}}</mat-option>
                    </mat-select>
            </mat-form-field>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="rarity-container">
        <button mat-button class="rarity-button"  (click)="selectAll()" [class.selected]="isItemSelected('all')"><mat-icon>refresh</mat-icon></button>
        <button mat-button class="rarity-button" (click)="onfilterSet(rarity)" *ngFor='let rarity of setRarities' [value]=rarity [class.selected]="isItemSelected(rarity)">{{rarity}}</button>
    </div>
    <br>
</div>


<app-card-list [boosters$]="boosters$" [fastOpening]="true" [DisplayMode]="false" [filterList]="setDisplayRarities" [collection]="true"></app-card-list>
