.rarity-container{
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #f5f5f5;
    margin-left: 1%;
}

.rarity-button{  
    position: relative;
    display: inline-block;
    margin: 0.5625% 0.5625% 1.125% 0;
}

.selected {
    background-color: gray; 
    .titre{
        color:white;
    }
  }

  .formulaire{
    background-color: #f5f5f5;
  
}