<header>
    <h1>Pokeboosters</h1>
</header>

<div class="menu">
    <a routerLink="auth/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Home/Login</a>
      <a routerLink="open-boosters" routerLinkActive="active">Discover</a>
      <a routerLink="open-boosters" routerLinkActive="active">Open Boosters</a>
      <a routerLink="open-boosters" routerLinkActive="active">Collection</a>
      <a routerLink="register" routerLinkActive="active">My Profile</a>
      <a routerLink="open-boosters" routerLinkActive="active">Trade Market</a>
</div>
      


