<header>
    <div class="header-links">
        <a routerLink="auth/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Login</a>
        <a routerLink="auth/register" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Register</a>
        <a (click)="onLogout()">Logout</a>
    </div>
    <div class="pseudo" *ngIf="userPokedollars$  | async as data">
        <div *ngIf="data>-1">
            <!-- {{ pseudo$ | async }}-->{{pseudo}}: {{ userPokedollars$ | async |currency}} 
        </div>
    </div>
    <h1>Pokeboosters</h1>
</header>




<div class="menu">
    <div>
        <a routerLink="browse" routerLinkActive="active">Browse</a>
        <a routerLink="open-boosters" routerLinkActive="active">Open Boosters</a>
        <a routerLink="/collection" routerLinkActive="active">Collection</a>
        <a routerLink="" routerLinkActive="active">My Profile</a>
        <a routerLink="open-boosters" routerLinkActive="active">Trade Market</a>
    </div>
   <br>
</div>

      


