<header>
    <div class="header-links">
        <a routerLink="auth/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}" *ngIf="!isLogin()">Login</a>
        <a routerLink="auth/register" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}" *ngIf="!isLogin()">Register</a>
        <a routerLink="/profil" routerLinkActive="active" *ngIf="isLogin()">My Profil</a>
        <a (click)="onLogout()" *ngIf="isLogin()">Logout</a>
    </div>
    <div class="pseudo" *ngIf="isLogin()">
        Welcom <span style="font-weight: bold">{{userdata.user}}</span> ! 
    <div >Pokedollars :<span style="font-weight: bold;color:green">{{ userdata.money |currency:'KRW':'symbol':'1.0-0'}} </span></div>
       
      </div>  
    <div class="titre">
    <h1>Pokeboosters</h1>
    </div>
</header>




<div class="menu">
    <div>
        <a routerLink="browse" routerLinkActive="active">Browse</a>
        <a routerLink="open-boosters" routerLinkActive="active">Open Boosters</a>
        <a routerLink="/collection" routerLinkActive="active" *ngIf="isLogin()">My Collection</a>
        <a routerLink="trade" routerLinkActive="active" *ngIf="isLogin()">Trade Market</a>
    </div>
   <br>
</div>

      


