
<div class="formulaire" [formGroup]="simulatorForm">
    <mat-toolbar>    
        <mat-toolbar-row>
                <mat-form-field appearance="outline" style="width: 100%;" >
                    <mat-label>Choix serie</mat-label>
                        <mat-select formControlName="setid">
                            <mat-option *ngFor='let set of Sets$ | async' [value]=set.id>{{set.name}}</mat-option>
                        </mat-select>
                </mat-form-field>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <mat-button-toggle-group  formControlName="openingChoice" style="font-size: 12px">
                <mat-button-toggle value="booster">Booster</mat-button-toggle>
                <mat-button-toggle value="Display">Display</mat-button-toggle>
                <mat-button-toggle value="few_boosters">Custom</mat-button-toggle>
            </mat-button-toggle-group>
            <input  appearance="outline" *ngIf="simulatorForm.value.openingChoice ==='few_boosters'" formControlName="nb_boosters" type="number" placeholder="1" step="1" min="1" max="20"  matInput>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <div *ngIf="boosterPrice!==undefined">
                Price:
                <div class="price" *ngIf="simulatorForm.value.openingChoice=='booster'">{{ boosterPrice[this.simulatorForm.value.setid]*this.ParamSetData[this.simulatorForm.value.setid].length | currency:'KRW':'symbol':'1.0-0'}}</div>
                <div class="price" *ngIf="simulatorForm.value.openingChoice=='Display'">{{ boosterPrice[this.simulatorForm.value.setid]*this.ParamSetData[this.simulatorForm.value.setid].length*20 |currency:'KRW':'symbol':'1.0-0' }}</div>
                <div class="price" *ngIf="simulatorForm.value.openingChoice=='few_boosters'">{{ boosterPrice[this.simulatorForm.value.setid]*this.ParamSetData[this.simulatorForm.value.setid].length*simulatorForm.value.nb_boosters |currency:'KRW':'symbol':'1.0-0' }}</div>
            </div>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <mat-slide-toggle formControlName="fastOpening" color="primary">fastOpening</mat-slide-toggle>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <mat-slide-toggle formControlName="DisplayMode" color="primary">DisplayMode</mat-slide-toggle>
        </mat-toolbar-row>
    <mat-toolbar-row >
        <button appearance="outline" mat-button (click)="onBuyBoosters()" [disabled]=" isLoading|| !canPay()">OPEN cards</button>
        <mat-spinner *ngIf=" isLoading" style="margin-left:5px;width: 30px;"></mat-spinner>
    </mat-toolbar-row>

    </mat-toolbar>


    <app-card-list [boosters$]="boosters$" [fastOpening]="simulatorForm.value.fastOpening" [DisplayMode]="simulatorForm.value.DisplayMode"></app-card-list>
    


