<header>
    <h1>Pokeboosters</h1>
</header>
<div class="formulaire" [formGroup]="simulatorForm">


    <mat-toolbar>
        <mat-toolbar-row>
          <span><h2>Menu</h2></span>
        </mat-toolbar-row>
      
        <mat-toolbar-row>
            <div class="formulaire">
                <mat-form-field appearance="outline" style="width: 100%;" >
                    <mat-label>Choix serie</mat-label>
                        <mat-select formControlName="setid">
                            <mat-option *ngFor='let booster of Sets$ | async' [value]=booster.id>{{booster.name}}</mat-option>
                        </mat-select>
                </mat-form-field>
                </div>
        </mat-toolbar-row>
      
        <mat-toolbar-row>
            <mat-slide-toggle formControlName="fastOpening" color="primary">fastOpeningg</mat-slide-toggle>
        </mat-toolbar-row>
    <mat-toolbar-row>
        <button appearance="outline" mat-button (click)="onClick()">OPEN cards</button>
    </mat-toolbar-row>
      </mat-toolbar>

    

      <app-card-list [cards$]="cards$" [boosters$]="boosters$" [fastOpening]="simulatorForm.value.fastOpening"></app-card-list>
    


