<div *ngIf="DisplayMode===false" class="cardlist">
    <div class="booster" *ngFor="let booster of boosters$ | async">
        <app-card *ngFor="let card of booster" [card]="card" [fastopening]="fastOpening" [filterList]="filterList" [collection]="collection"></app-card>
    </div>
</div>
<div *ngIf="DisplayMode===true">
    <carousel  *ngFor="let booster of boosters$ | async" class="cardlist">
        <slide class="booster" *ngFor="let card of booster" >
            <app-card [card]="card" [fastopening]="fastOpening" [filterList]="filterList" [collection]="collection" ></app-card>
        </slide>
    </carousel>
</div>

